body{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://wallpaperaccess.com/full/3694273.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: whitesmoke;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: #6072A6;
  color: whitesmoke;
  border: solid whitesmoke 2px;
  padding: 3px 6px;
  border-radius: 10px;
}

button:hover {
  color: #6072A6;
}

nav {
  background: #f2b66db9;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
  height: 3em;
}

nav > a {
  margin-right: 10px;
}

nav > a:hover {
  color: #a6b5e4;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.profile-link {
  color: whitesmoke;
  text-decoration: none;
  display: inline;
}

.profile-link:hover {
  color: #f2b66d;
}

.profileCard {
  border: solid whitesmoke 3px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 100%;
  font-size: 2em;
}

.profileImg {
  margin: 10px 50px 10px auto;
  border: solid whitesmoke 2px;
  border-radius: 15px;
}

.profileImg:hover {
  border: solid #f2b66d 2px;
}

@media only screen and (min-width: 965px) {

  .profileCard {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1024px) {

  nav > a {
    font-size: 1.6rem;
  }

  .profileCard {
    font-size: 2em;
  }
}